.card-index {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  width: 100%;
  height: 200px;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  text-align: center;
  overflow: hidden;

  h2{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #eee;
    font-size: 48px;
    text-shadow: 2px 2px 2px #eeeeee55;
  }

  img {
    flex-grow: 1;
    max-height: 100%;
    object-fit: cover;
  }

  .opacity-filter {
    background: linear-gradient(90deg, #170017aa, #000e2baa);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
